

.box{
    background:pink;
    margin:20px; 
    width:100px; 
    height:100px ;
    text-align: center;
}

/*the TRANSFORM porperty uses funtional values like f(x) to change an element*/
#rotate{
    transform:rotate(-10deg);
}

#scale{
    transform: scale(0.5);
}












